<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="" />
	    <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>নাগরিক নিবন্ধন</title>
        <!-- Favicon icon -->
        <link href="public/css/style.css" rel="stylesheet">
    </head>
    <body class="vh-100">
        <div class="authincation h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-md-10">
            <div class="authincation-content">
                <div class="row no-gutters">
                    <div class="col-xl-12">
                        <div class="auth-form">
                            <div class="text-center mb-3">
                                <img src="logo" alt="">
                            </div>
                            <h4 class="text-center mb-4">নাগরিক নিবন্ধন</h4>
                            <div class="row form-material">
                                <div class="row form-material">
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">বিভাগ <span style="color: red;">* </span></label>
                                        <select data-v-3161f96a="" class="form-control">
                                            <option data-v-3161f96a="" value="">
                                                নির্বাচন করুন
                                            </option>
                                            <option data-v-3161f96a="">1</option>
                                            <option data-v-3161f96a="">2</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">জেলা <span style="color: red;">* </span></label>
                                        <select data-v-3161f96a="" class="form-control">
                                            <option data-v-3161f96a="" value="">
                                                নির্বাচন করুন
                                            </option>
                                            <option data-v-3161f96a="">1</option>
                                            <option data-v-3161f96a="">2</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">উপজেলা <span style="color: red;">* </span></label>
                                        <select data-v-3161f96a="" class="form-control">
                                            <option data-v-3161f96a="" value="">
                                                নির্বাচন করুন
                                            </option>
                                            <option data-v-3161f96a="">1</option>
                                            <option data-v-3161f96a="">2</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">ইউনিয়/পৌরসভা <span style="color: red;">* </span></label>
                                        <select data-v-3161f96a="" class="form-control">
                                            <option data-v-3161f96a="" value="">
                                                নির্বাচন করুন
                                            </option>
                                            <option data-v-3161f96a="">1</option>
                                            <option data-v-3161f96a="">2</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">জাতীয় পরিচয় পত্র নং <span style="color: red;">  </span></label>
                                        <input enavle="disabled" v-model="form.phone" maxlength="17" type="text" class="form-control input-default"
                                            placeholder=" example 5821639253">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">জন্ম সনদ নং <span style="color: red;">  </span></label>
                                        <input enavle="disabled" v-model="form.phone" maxlength="17" type="text" class="form-control input-default"
                                            placeholder=" example 5821639253">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">জন্ম তারিখ <span style="color: red;">  *</span></label>
                                        <input enavle="disabled" type="date" class="form-control input-default"
                                            placeholder=" example 5821639253">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label"> নাম বাংলা <span style="color: red;">* </span></label>
                                        <input enavle="disabled" type="text" class="form-control input-default"
                                            placeholder="সেবাগ্রহিতার নাম">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label"> নাম ইংরেজী <span style="color: red;"> </span></label>
                                        <input enavle="disabled" type="text" class="form-control input-default"
                                            placeholder="সেবাগ্রহিতার নাম">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">ওয়ার্ড <span style="color: red;">* </span></label>
                                        <select data-v-3161f96a="" class="form-control">
                                            <option data-v-3161f96a="" value="">
                                                ওয়ার্ড
                                            </option>
                                            <option data-v-3161f96a="">1</option>
                                            <option data-v-3161f96a="">2</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">গ্রাম <span style="color: red;">* </span></label>
                                        <select data-v-3161f96a="" class="form-control">
                                            <option data-v-3161f96a="" value="">
                                                গ্রাম
                                            </option>
                                            <option data-v-3161f96a="">কুতুবপুর</option>
                                            <option data-v-3161f96a="">আবদুল্যাপুর</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">পোষ্ট অফিস <span style="color: red;">* </span></label>
                                        <select data-v-3161f96a="" class="form-control">
                                            <option data-v-3161f96a="" value="">
                                                পোষ্ট অফিস
                                            </option>
                                            <option data-v-3161f96a="">কুতুবপুর</option>
                                            <option data-v-3161f96a="">আলাইয়ারপুর</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label" style="">মোবাইল নং <span style="color: red;"> </span></label>
                                        <input enavle="disabled" type="text" v-model="form.phone" maxlength="11" class="form-control input-default"
                                            placeholder="মোবাইল নং">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">ই-মেইল <span style="color: red;"> </span></label>
                                        <input enavle="disabled" type="text" class="form-control input-default"
                                            placeholder="ই-মেইল">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3">
                                        <label class="text-label">পাসওয়ার্ড <span style="color: red;"> </span></label>
                                        <input enavle="disabled" type="text" class="form-control input-default"
                                            placeholder="পাসওয়ার্ড">
                                    </div>
                                    <div class="col-xl-6 col-xxl-6 col-md-6 mb-3" style="padding-top: 22px;">
                                        <td data-v-ab5f37bc=""><a data-v-ab5f37bc="" href="login_from.html" target="_blank" class="btn btn-info">নিবন্ধন করুন</a> </td>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </body>
</html>