
.doctor-pic {
    padding: 3px;
    border: 3px solid rgb(210, 214, 222);
    border-radius: 50% 50% 50% 50%;
    max-width: 112px;
}
.profile-tab-box {
    background: #145ac536;
    padding: 10px;
    margin: 0 0 15px 10px;
    width: 100%;
}
.doctor-profile {
    float: left;
    width: 100%;
    text-align: center;
}
.doctor-name {
    padding: 3px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
#biography {
    padding: 67px;
}
.center {
    text-align: center;
}
.white-box {
    /* background: #ffffff; */
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.patient-profile {
    height: 100%;
    width: 100%;
}
.profile-sidebar {
    float: left;
    /* width: 350px; */
    width: 100%;
    margin-right: 20px;
}
.profile-content {
    overflow: hidden;
}
.profile-userpic img {
    margin: 0px auto;
    width: 130px;
    padding: 3px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 20px;
}
.sidebar-userpic img {
    margin: 0px auto;
    width: 75px;
    padding: 3px;
    border: 2px solid rgb(210, 214, 222);
    border-radius: 50% 50% 50% 50%;
}
.sidebar-userpic-btn{
	display: flex;
	place-content: space-around;
	font-size: 18px;
}
.sidebar-userpic-btn a{
	color: #aaadb7;
}
.sidebar-userpic-btn a:hover{
	color: #fff;
}
.sidebar-userpic {
    float: left;
    width: 100%;
    text-align: center;
}
.sidebar-userpic-name {
    font-size: 17px;
    font-weight: bold;
    color: #aaadb7;
}
.profile-usertitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-usertitle-name {
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #3a405b;
}
.profile-usertitle-job {
    color: #b7b6b6;
    font-size: 12px;
    margin-bottom: 5px;
}
.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}
.profile-userbuttons .btn {
    margin-right: 5px;
}
.profile-userbuttons .btn:last-child {
    margin-right: 0;
}
.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}
.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px;
}
.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}
.profile-usermenu ul li:last-child {
    border-bottom: none;
}
.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400;
}
.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 16px;
}
.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}
.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}
.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}
.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}
.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
}
.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600;
}
.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px;
}
.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}
.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1;
}
.profile-tabname {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
}
.profile-header{
	min-height: 150px;
	color: #fff;
}
.user-name{
	padding: 3px;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}
.user-img {
    padding: 3px;
    border-radius: 50% 50% 50% 50%;
    max-width: 112px;
    margin-top: -70px;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
.thumb-lg {
    width: 33%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.blogThumb {
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
}
.thumb-center{
	text-align: center;
}
.thumb-center img{
	display: inline-block;
}
.border-gray {
    border: 1px solid #ddd;
}
.list-group-unbordered > .list-group-item {
    border-left: 0px none;
    border-right: 0px none;
    border-radius: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.list-group .list-group-item {
    display: block;
}
.profile-desc {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-desc-item {
    text-align: left;
    font-size: 14px;
    color: #000000;
    width: 160px;
}
.performance-list {
    list-style: none outside none;
    padding: 0px;
}
.performance-list li a {
    color: rgb(158, 158, 158);
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}
.performance-list li a:hover {
    color: #00C0EF;
}
.work-monitor .title {
    margin: 0 0 40px 0;
}
.work-monitor .title h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #555;
    margin: 20px 0 10px 0;
}
.work-monitor .title p {
    font-size: 14px;
    color: #b1b5b7;
}
.work-monitor .states {
    width: 90%;
}
.work-monitor .states .info {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    margin: 10px 0 0 0;
    font-weight: 500;
    font-size: 13px;
}
.work-progress .states {
    width: 100%;
}
.p-text-area,
.p-text-area:focus {
    box-shadow: none;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #868686;
}
ul.activity-list {
    list-style-type: none;
    padding: 0;
}
ul.activity-list li {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eff0f4;
}
ul.activity-list .avatar img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
ul.activity-list .activity-desk {
    margin-left: 70px;
}
ul.activity-list .activity-desk h5 {
    color: #2a323f;
}
ul.activity-list .activity-desk h5 a {
    font-weight: bold;
}
.activity-desk .album a {
    float: left;
    margin-right: 10px;
    width: 170px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 10px;
}
.activity-desk .album a img {
    width: 100%;
}
#map-canvas {
    height: 200px;
    width: 100%;
}
.revenue-graph {
    height: 220px;
}


/****************************************************************

					[27. TAB ]	
						
*****************************************************************/

.tab-pane>p:last-child {
    margin-bottom: 0
}
.tabs-reversed>li {
    float: right;
    margin-right: 0
}
.tabs-reversed>li>a {
    margin-right: 0
}
.customtab.nav-tabs .nav-link.active,  .customtab.nav-tabs .nav-link.active:focus {
    border-bottom: 2px solid #36c6d3;
    color: #191d1d;
}
.customtab.nav-tabs .nav-link {
    border-left: 0;
    border-top: 0; 
    border-right: 0;
    color: #999;
}
.btmBorder{
	border-bottom: 0px !important;
}
.customtab {
    border-bottom: 2px solid #f7fafc;
}
nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav-pills>li>a, .nav-tabs>li>a {
    font-size: 14px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 2px 2px 0 0;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li a.active, .nav-tabs>li a.active:focus, .nav-tabs>li a.active:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
}
.tab-all a.active{
	background-color: #7c00ffad !important;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(233, 30, 99, .6);
    color: #fff;
    border-radius: 10px;
}
.tab-all a{
	color: #000000;
}
.nav-pills-rose{
	margin-bottom: 20px;
}

/* tabs  */
.b-tab {
    padding: 20px;
    /* border: 1px solid #000; */
    display: none;
  }
  
  .b-tab.active {
    display: block;
  }
  
  .b-nav-tab {
    display: inline-block;
    padding: 20px;
  }
  
  .b-nav-tab.active {
    background-color: #7c00ffad !important;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%), 0 13px 24px -11px rgb(233 30 99 / 60%);
    color: #fff;
    border-radius: 10px;
  }
  .b-nav-tab:hover {
    background-color: #7c00ffad !important;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 20%), 0 13px 24px -11px rgb(233 30 99 / 60%);
    color: #fff;
    border-radius: 10px;
  }

  textarea{
    height: 120px !important;
  }

  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 transparent !important;
}
.card{
    height: auto !important;
}

.serviceGroup{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    align-items: ;
    justify-content: space-between;
}
.serviceGroup p{
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.btn:hover{
    color: unset;
}
.serviceGroup > button{
    /* width: 20%; */
    margin: 10px 0px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-shadow: 0px 3px 5px 0px #848484;
    border: 2px solid #20c17da6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginFrom p{
    text-align: left !important;
}


.modalForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

.serviceMenuGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20%;
}
.serviceMenuItem{
    position: relative;
    background-color: rgb(9, 161, 221);
    color: #fff;
}
.serviceMenuItemNext {
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.serviceMenuIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #153d3a6e;
}
.serviceMenuIcon i {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.serviceMenuGroup .serviceMenuItem:nth-child(1){
    background-color: #21e6c1;
}
.serviceMenuGroup .serviceMenuItem:nth-child(2){
    background-color: #278ea5;
}
.serviceMenuGroup .serviceMenuItem:nth-child(3){
    background-color: #49a942;
}
.serviceMenuGroup .serviceMenuItem:nth-child(4){
    background-color: #49176d;
}
.serviceMenuGroup .serviceMenuItem:nth-child(5){
    background-color: #f85a40;
}
.serviceMenuGroup .serviceMenuItem:nth-child(6){
    background-color: #ffa45c;
}


@media only screen and (max-width: 560px){
    .serviceGroup{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .modalForm {
        grid-template-columns: 1fr;
    }
    .serviceMenuGroup {
        grid-template-columns: 1fr 1fr;
    }
}